page {
	background-color: #000;
	color: #ffffff;
}

.index-viedo>image{
	width: 100%;
}
.index-introduce>view{
	margin-left: 20upx;
}
.index-introduce>button{
	margin-right: 20upx;
	border-radius: 30upx;
	background-color: #BD2C00;
	color: #FFFFFF;
}
.index-zan{
	margin-left: 20upx;
}
.index-zan>image{
	width: 40upx;
	height: 40upx;
	border-radius: 100%;
	margin-right: 20upx;
}
