.register{
		position: relative;
		left: 0;
		bottom: -740upx;
		display:flex ;
		flex-direction:column;
		flex-wrap: nowrap;
		justify-content: space-around;
		background-color: #fff;
		border: 1upx #fff;
		border-radius: 15%;
		height: 800upx;
	}
	.portrait-box{
		display: flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content:space-around;
		align-items:center
	}
	.portraitImgBox{
		display: flex;;
		flex-direction: column;
		flex-wrap:nowrap;
		align-items:center
	}
	.portrait{
		border: 1upx solid #CCCCCC;
		border-radius: 50%;
	}
	.registerForm{
		display: flex;
		flex-direction: column;
		flex-wrap:nowrap;
		align-items:center;
		width: 100%;
		font-weight: bold;
		font-size: 13upx;
	}
	.input-border-bottom{
		border-bottom: 1upx solid #333
	}
	button::after{
		border:none
	}
	page{
		height: 100%;
		background: url(../../static/img/longin.jpg);
	}